.Notification {
    position: fixed;
    top: calc(50px + var(--safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);

    display: flex;

    width: calc(100% - 40px);
    padding: 12px;

    border-radius: 8px;

    background-color: var(--color-gray);

    opacity: 0;
    transition: opacity 150ms ease-in;
}

.Notificatio--show {
    opacity: 1;
}

.Notification__l {
    position: relative;

    flex-shrink: 0;

    width: 50px;
    margin-right: 12px;
}

.Notification__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Notification__image {
    width: 50px;
    height: 50px;
}

.Notification__title {
    margin-bottom: 4px;
    font-size: var(--font-size-16);
    color: var(--color-primary);
}

.Notification__title--success {
    color: var(--color-green);
}

.Notification__title--error {
    color: var(--color-red);
}

.Notification__message {
    font-size: var(--font-size-14);
    color: rgba(var(--color-light-black-rgb), 0.6);
}