.Dialog {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;

    width: 100%;
    padding-top: calc(140px + var(--safe-area-inset-top));
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    background-color: var(--white);
}

@keyframes dialog-slide-down-enter {
    from {
        transform: translate3d(0, -100%, 0);
    }
}

.Dialog--slide-down-enter {
    animation: dialog-slide-down-enter 350ms ease-out;
}

@keyframes dialog-slide-down-leave {
    to {
        transform: translate3d(0, -100%, 0);
    }
}

.Dialog--slide-down-leave {
    animation: dialog-slide-down-leave 150ms linear;
}

.Dialog__status {
    position: relative;

    width: 50px;
    height: 50px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.Dialog__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Dialog__image {
    width: 50px;
    height: 50px;
}

.Dialog__title {
    margin-bottom: 8px;
    font-size: var(--font-size-16);
    text-align: center;
}

.Dialog--info .Dialog__title {
    color: var(--color-primary);
}

.Dialog--success .Dialog__title {
    color: var(--color-green);
}

.Dialog--danger .Dialog__title {
    color: var(--color-red);
}

.Dialog__message {
    padding-right: 30px;
    padding-left: 30px;

    font-size: var(--font-size-14);
    color: var(--color-dark-gray);
    text-align: center;
}

.Dialog__actions {
    display: flex;
    margin-top: 20px;
}

.Dialog__action {
    margin-right: 20px !important;
    margin-left: 0 !important;
}

.Dialog__action:last-child {
    margin-right: 0 !important;
}