.Popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    outline: none;
}

.Popup__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes popup-fade-enter {
    from {
        opacity: 0;
    }
}

.Popup--fade-enter .Popup__mask {
    animation: popup-fade-enter 250ms ease-in;
}

@keyframes popup-fade-leave {
    to {
        opacity: 0;
    }
}

.Popup--fade-leave .Popup__mask {
    animation: popup-fade-leave 150ms ease-in;
}

.Popup__DonateForm {
    margin-top: 27px;
}