.Home {
    --background_page: var(--color-primary);
}

.Home .Panel__in {
    display: flex;
    flex-direction: column;
}

.Home__white-wrapper {
    padding-top: calc(85px + var(--safe-area-inset-top));
    background-color: var(--color-white);
}

.Home__QRCode {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.Home__actions {
    max-width: 262px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.Home__action {
    margin-bottom: 10px;
}

.Home__action:last-child {
    margin-bottom: 0;
}

.Home__action--scan {
    padding: 0 16px !important;
}

.Home__action--share {
    flex-shrink: 0;
    width: 44px;
    padding: 0;
}

.Home__Icon24ShareOutline {
    margin-right: auto;
    margin-left: auto;
}

.Home__blue-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    padding-top: 50px;

    background-color: var(--color-primary);

    overflow: hidden;
}

.Home__content {
    padding: 20px;
}

.Home__title {
    margin-bottom: 20px;

    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    text-align: center;
}

.Home__Cipher {
    margin-bottom: 40px;
}

.Home__ProjectCard {
    max-width: 600px;
    margin-bottom: 15px;
}

.Home__Button {
    display: block;
    max-width: 600px !important;
}

.Home__Button--prize {
    margin-bottom: 20px;
}