.Home .Panel__in {
    display: flex;
    flex-direction: column;
}

.Home__QRCode {
    display: block;
    margin-top: calc(85px + var(--safe-area-inset-top));
    margin-bottom: 20px;
    text-align: center;
}

.Home__actions {
    display: flex;

    max-width: 262px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}

.Home__action {
    margin-right: 10px;
}

.Home__action:last-child {
    margin-right: 0;
}

.Home__action--scan {
    padding: 0 16px !important;
}

.Home__action--share {
    flex-shrink: 0;
    width: 44px;
    padding: 0;
}

.Home__Icon24ShareOutline {
    margin-right: auto;
    margin-left: auto;
}

.Home__blue-wrapper {
    flex: 1;
    padding-top: 50px;
    background-color: var(--color-primary);
}

.Home__content {
    padding: 20px;
}

.Home__title {
    margin-bottom: 20px;

    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    text-align: center;
}

.Home__Cipher {
    margin-bottom: 40px;
}

.Home__ProjectCard {
    margin-bottom: 15px;
}

.Home__wave {
    position: relative;
    width: 100%;
    overflow: visible;
    
    padding-bottom: calc(800% / 75);
    margin-top: -50px;
}

.Wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    transform: translateX(0);
    backface-visibility: hidden;
    animation: wave linear infinite;
}

.Wave--1 {
    opacity: 1;
    animation-duration: 10s;
    animation-delay: -4s;
}

.Wave--2 {
    opacity: 0.4;
    animation-duration: 6s;
    animation-delay: -2s;
}

.Wave--3 {
    opacity: 0.2;
    animation-duration: 4s;
    animation-delay: 0s;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}