* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-primary: #327CF6;

    --background_page: var(--color-white);
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}