* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-black-rgb: 0, 0, 0;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-primary: #327CF6;
    --color-primary-rgb: 101, 132, 241;
    --color-gray: #F2F3F5;
    --color-green: #27AE60;
    --color-red: #EB5757;
    --color-light-black: #333;
    --color-light-black-rgb: 51, 51, 51;

    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-24: 24px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    --background_page: var(--color-white);
    --accent: var(--color-primary);
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}

.App__Cancel {
    padding: 0;
}