* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-black: #000;
    --color-black-rgb: 0, 0, 0;
    --color-white: #fff;
    --color-white-rgb: 255, 255, 255;
    --color-primary: #327CF6;
    --color-primary-rgb: 101, 132, 241;
    --color-gray: #F2F3F5;
    --color-green: #27AE60;
    --color-red: #EB5757;
    --color-light-black: #333;
    --color-light-black-rgb: 51, 51, 51;
    --color-dark-gray: #99A2AD;

    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-24: 24px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;

    --background_page: var(--color-white);
    --accent: var(--color-primary);

    --home-blue-background: var(--color-primary);
    --home-white-background: var(--color-white);

    --finish-background: var(--color-white);

    /**
     * Кнопки
    */
    --button-default-background: var(--color-white);
    --button-default-color: var(--color-primary);
    --button-svg-fill: var(--color-primary);

    --button-primary-background: var(--color-primary);
    --button-primary-color: var(--color-white);
    --button-primary-svg-fill: var(--color-white);

    --button-secondary-background: rgba(var(--color-white-rgb), 0.1);
    --button-secondary-color: var(--color-white);

    --button-info-background: rgba(var(--color-primary-rgb), 0.1);
    --button-info-color: var(--color-primary);

    /**
     * Волны
     */
    --wave-background: var(--home-white-background);

    /**
     * Шифр
     */
    --cipher-background: rgb(130, 157, 244);
    --cipher-color: var(--color-white);

    /**
     * Диалог
     */
    --dialog-background: var(--color-white);
    --dialog-arrow-down-fill: var(--color-light-black);

    /**
     * Спасибо
     */
    --thank-you-title-color: var(--color-primary);

    /**
     * Включить уведомления
     */
    --allow-notifications-background: var(--color-gray);
}

body[scheme="client_dark"],
body[scheme="space_gray"] {
    --background_page: #1A222C;
    
    --home-white-background: #1A222C;
    --home-blue-background: #24303F;

    --finish-background: #24303F;
    --finish-title-color: var(--color-white);

    --background_content: #1A222C;
    --field_background: #24303F;
    --field_border: rgba(0, 0, 0, 0.15);

    --button-info-background: rgba(var(--color-white-rgb), 0.1);
    --button-info-color: var(--color-white);

    --wave-background: var(--home-white-background);

    --cipher-background: rgba(var(--color-white-rgb), 0.2);

    --dialog-background: #1A222C;
    --dialog-arrow-down-fill: var(--color-white);

    --thank-you-title-color: var(--color-white);

    --allow-notifications-background: #1A222C;
}

.PanelHeader,
.PanelHeader * {
    box-sizing: unset;
}

.App__Cancel {
    padding: 0 !important;
}

.ios-peek {
    position: absolute;
    bottom: calc(100% - 1px);
    left: 0;
    z-index: 2;
    
    width: 100%;
    height: 1500px;

    background-color: var(--background_page);
}